@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<textarea> </textarea>
<button class="btn btn-primary" @onclick="IncrementCount">
	@{
		void Foo()
		{
			throw new NotImplementedException();
		}
	}
	Click me</button>
<text>getRectArea(3, 'A');</text>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        if (currentCount>0)
        {
	        var count = currentCount / 0;
        }
    }

    void Foo()
    {
	    throw new Exception();
    }
}
